doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json", function(S, Io, Node, Json){
                var cookies = CurSite.getCookie();
                var key = cookies["st"];
                var headNode = {cmd:"A02", digestType:"3des", userId:cookies["userId"], userType:cookies["userType"]};
                var body = {uniqueId:CurSite.createUUID()};
                var msgNode = CurSite.encrypt(headNode, key, Json.stringify(body));
                Io({type:"post", url:CurSite.interPath, data:{message:Json.stringify(msgNode)}, success:function(data){
                        var backBodyStr = data.body;
                        var decodedBodyStr = CurSite.decrypt(data.head, key, backBodyStr);
                        alert(decodedBodyStr);
                        var backBodyNode = Json.parse(decodedBodyStr);
                }});
            });
    body
        h1 welcome to admin page.